@font-face {
  font-family: "Clear Sans";
  src: url("../fonts/ClearSans-Light.woff") format('woff');
}

@font-face {
  font-family: "Clear Sans";
  src: url("../fonts/ClearSans-Medium.woff") format('woff');
  font-weight: bold;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Clear Sans";
  width: 960px;
	margin: 100px auto 0;
  background-color: #392340;
  color: #E2DAC7;
}

header {
  width: 66%;
  margin: 0 auto;
  padding: 4em 0;
}

h1 {
  font-size: 22px;
  margin: 1em 0;
}

p.description {
  font-size: 40px;
  line-height: 53px;
  font-weight: bold;
  color: #94A8A8;
  margin: 0 10%;
}

canvas#bigbang {
  width: 960px;
  height: 600px;
}

section {
  margin: 0 -9999rem;
  padding: 3em 9999rem 5em;
  background: rgba(black, 0.2);
  
  div.container {
    padding-left: 17%;
    margin: 0 auto;
  }
}

section + section { background: rgba(black, 0.3) }
section + section + section { background: rgba(black, 0.4) }
section + section + section + section { background: rgba(black, 0.5) }

footer {
  margin: 9em 0;
}
