@font-face {
  font-family: "Clear Sans";
  src: url("../fonts/ClearSans-Light.woff") format('woff');
}

@font-face {
  font-family: "Clear Sans";
  src: url("../fonts/ClearSans-Medium.woff") format('woff');
  font-weight: bold;
}

$beige: #E2DAC7;
$bleu:  #94A8A8;
$rouge: #eb3a0a;

::selection      { background-color: rgba($bleu, 0.4); }
::-moz-selection { background-color: rgba($bleu, 0.4); }

* {
  transition: background-color 0.15s, opacity 0.15s;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Clear Sans";
  width: 960px;
	margin: 100px auto 0;
  background-color: #392340;
  color: $beige;
}

a {
  color: $rouge;
  text-decoration: none;
}

header {
  width: 66%;
  margin: 0 auto;
  padding: 4em 0;
}

h1 {
  font-size: 22px;
  margin: 1em 0;
}

p.description {
  font-size: 40px;
  line-height: 53px;
  font-weight: bold;
  color: $bleu;
  margin: 0 10%;
}

canvas#bigbang {
  width: 960px;
  height: 600px;
}

section {
  
  &.bigbang {
    position: relative;
    
    div.project {
      display: none;
      position: absolute;
      transform: translateX(-50%);
      margin-top: -152px;
      
      &.visible {
        display: block;
      }
      
      a {
        background-color: #301D36;
        display: block;
        width: 108px;
        height: 108px;
        -webkit-border-radius: 54px;
        -moz-border-radius:    54px;
        border-radius:         54px;
        
        &:hover {
          background-color: mix($rouge, #301d36, 80%);
          
          span {
            opacity: 1;
          }
        }
        
        span {
          font-weight: bold;
          position: absolute;
          width: 200%;
          top: 25%;
          left: 115%;
          opacity: 0;
          color: $beige;
        }
        
        img {
          position: relative;
          display: block;
          margin: auto;
        	top: 50%;
        	transform: translateY(-50%);
        }
      }
      
      img.tail {
        display: block;
        margin: auto;
      }
    }
  }
  
  &.project {
    margin: 0 -9999rem;
    padding: 3em 9999rem 5em;
    background-color: rgba(black, 0.2);
    
    div.logo {
      position: absolute;
      width: 150px;
      height: 150px;
      margin: 10px 0 0 -130px;
      background-color: rgba(black, 0.2);
      -webkit-border-radius: 75px;
      -moz-border-radius:    75px;
      border-radius:         75px;
      
      img {
        position: relative;
        display: block;
        margin: auto;
      	top: 50%;
      	transform: translateY(-50%);
      }
    }
  }
  
  div.container {
    padding-left: 17%;
    margin: 0 auto;
  }
}

section.project + section.project { background: rgba(black, 0.3) }
section.project + section.project + section.project { background: rgba(black, 0.4) }
section.project + section.project + section.project + section.project { background: rgba(black, 0.5) }

footer {
  margin: 9em 0;
}
